html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100.01%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}


blockquote, q {
  quotes: none;
  display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}


ins {
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
}


mark {
  background-color: #eeeeee;
  color: black;
  font-style: italic;
  font-weight: bold;
}


del {
  text-decoration: line-through;
}


abbr[title], dfn[title] {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}


input, select {
  vertical-align: middle;
}


ul, ol {
  list-style-type: none;
}


img, object {
  width: 100% \9;
  /* IE 8 */
  max-width: 100%;
}


html {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}


body {
  font-weight: 100;
  color: #666666;
  background-color: white;
}


html {
  font-size: 30.5%;
}


body {
  font-size: 16px;
  line-height: 1.4;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}


ul, ol, dl, dt, dd {
  list-style-type: none;
}


p {
  word-wrap: break-word;
}


strong {
  font-weight: bold;
}


em {
  font-style: italic;
}


small {
  font: 11px/1em;
  color: #999999;
  word-wrap: break-word;
}


a {
  text-decoration: none;
  color: tomato;
  font-weight:100;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}



a:active {
  background-color: none;
}


select, input, textarea, button {
  font: 99%;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


td {
  vertical-align: top;
}


th {
  text-align: left;
}


fieldset {
  border: none;
}


legend {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 a;
}


textarea {
  overflow: auto;
  vertical-align: top;
}


input {
  vertical-align: baseline;
}


input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}


input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
  font: 10px;
}


input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  border: 1px solid #dddddd;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: #0473c7;
}


input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select {
  margin-bottom: 8px;
}


label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}


button, input, select, textarea {
  margin: 0;
}


.button {
  display: inline-block;
  width: auto;
  height: auto;
  overflow: visible;
  vertical-align: middle;
  background: none;
  border: 0.2em solid;
  border-radius:0.3em;
  outline: none;
  border-color: tomato;
  white-space: nowrap;
  padding: 0.8em 1.8em 0.8em 1.8em;
  margin-top: 3em;
  margin-bottom:5em;
  font-size:0.9em;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  -ms-interpolation-mode: bicubic;
}

img:-moz-broken {
  line-height: 11px;
  overflow: hidden;
}


iframe {
  border: none;
  width: 100%;
}


h1, h2, h3, h4, h5, h6, button {
  color: #4A4A4A;
}

h1 {
  font-weight: 100;
  font-size: 2em;
  margin-top:2em;
  margin-bottom: 0px;
}

h2 {
  font-weight: 100;
  font-size: 1.1em;
  margin: 0px auto;
  max-width: 630px;
  color:rgb(51, 51, 51);
  line-height: 180%;
  padding-left:20px;
  padding-right:20px;
}

p {
  font-weight: 100;
  font-size: 1.1em;
  margin-top: 0px;
  color:rgb(51, 51, 51);
  line-height: 180%;
  max-width: 630px;
}

p a{
  color:tomato;
}

.container{
  margin: 0px auto;
  text-align:center;
  background-color:#f9f9f9;
}

.header{
  background:url("../silvia.png") no-repeat center top;
  background-color:#ffffff;
  padding-top:24em;
  padding-bottom:2em;
  text-align: center;
}

.module {
  margin: 0px auto;
  width:100%;
  height:auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

.grey {
  background-color:#f9f9f9;
}

.module p{
  margin:0px auto;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
}
